<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:fragment="base (title, content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:replace="${title}">Monitoring for Justice</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/justice.css" th:href="@{/css/justice.css}">

    <script src="/js/htmx.min.js" th:src="@{/js/htmx.min.js}"></script>
    <script src="/js/fontawesome.min.js" th:src="@{/js/fontawesome.min.js}"></script>
</head>
<body class="antialiased bg-gray-50">

<nav th:replace="~{admin/fragments/navigation}"></nav>

<aside th:replace="~{admin/fragments/sidebar}"></aside>

<main th:replace="${content}"></main>

<script src="/js/flowbite.min.js" th:src="@{/js/flowbite.min.js}"></script>
<script src="/js/flowbite-reinit.js" th:src="@{/js/flowbite-reinit.js}"></script>
<script src="/js/datepicker.min.js" th:src="@{/js/datepicker.min.js}"></script>
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
<script src="/js/quill-init.js" th:src="@{/js/quill-init.js}"></script>
<script src="/js/file-upload.js" th:src="@{/js/file-upload.js}"></script>
</body>
</html>