<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:fragment="blank (title, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title th:replace="${title}">Monitoring for Justice</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/justice.css" th:href="@{/css/justice.css}">
</head>
<body class="bg-gray-50">

<main th:replace="${content}"></main>

<script src="/js/flowbite.min.js" th:src="@{/js/flowbite.min.js}"></script>
</body>
</html>