<div th:fragment="documentHCard(document)">
    <div class="flex justify-start">
        <img th:src="@{'/img/common/' + ${document.icon} + '.svg'}"
             th:alt="#{btn.download.document}"
             class="w-[30px] h-[30px] mr-6"/>

        <a class="font-medium text-lg leading-tight text-deep-sky-900 hover:text-deep-sky-800"
           th:href="${document.files.?[lang == #locale.language][0]?.path ?: '#'}"
           th:text="${document.title}"
           target="_blank">Title</a>
    </div>
</div>