<div>
    <div th:fragment="eventCard(event)">
        <a class="block bg-white border border-gray-100 rounded-lg"
           th:href="@{'/events/' + ${event.slug}}">
            <img class="rounded-t-lg" th:src="${event.thumb}" th:alt="${event.title}"/>

            <div class="p-7">
                <h5 class="mb-2 text-xl font-bold leading-tight text-deep-sky-900 hover:text-deep-sky-800"
                    th:text="${event.title}">Title</h5>

                <p class="mb-3 text-sm font-normal text-gray-400"
                   th:text="${event.publishDate}">01.01.2024</p>
            </div>
        </a>
    </div>

    <div th:fragment="eventHCard(event)" class="mt-10">
        <a th:href="@{'/events/' + ${event.slug}}"
           class="flex flex-col items-center bg-white border border-gray-100 rounded-lg md:flex-row">

            <img class="object-cover w-full rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                 th:src="${event.thumb}" th:alt="${event.title}">

            <div class="flex flex-col justify-between p-4">
                <h5 class="mb-2 text-xl font-bold leading-tight text-deep-sky-900 hover:text-deep-sky-800"
                    th:text="${event.title}">Title</h5>

                <p class="text-sm font-normal text-gray-400"
                   th:text="${event.publishDate}">01.01.2024</p>
            </div>
        </a>
    </div>
</div>