<!DOCTYPE html>
<html lang="ru" th:replace="~{layouts/base.html :: base(_, ~{::main}, ~{::link}, ~{::script})}">
<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
<body>
<main>
    <!-- Partners -->
    <section class="max-w-screen-xl px-4 mx-auto">
        <div class="flex flex-wrap items-center justify-end gap-4">
            <a href="https://kas.de" target="_blank">
                <img src="/img/brand/kas.png" class="w-[82px]" alt="KAS"/></a>
            <a href="https://biom.kg" target="_blank">
                <img src="/img/brand/biom.png" class="w-[63px]" alt="BIOM"/></a>
            <a href="https://www.facebook.com/ngoalga" target="_blank">
                <img src="/img/brand/alga.png" class="w-[40px]" alt="Alga"/></a>
            <a href="https://maxplanckfoundation.org" target="_blank">
                <img src="/img/brand/mpf.png" class="w-[110px]" alt="MFP"/></a>
        </div>
    </section>

    <!-- Main slider -->
    <section class="main-slider w-full overflow-hidden mt-8">
        <div class="swiper-container main-slider-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image image-zoom"
                         style="background-image:url('/img/main-slider/bishkek_01.jpg')"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Activities -->
    <section class="max-w-screen-xl px-4 mt-20 mx-auto">
        <h2 th:text="#{home.section.about.activities}"
            class="uppercase text-deep-sky-900 font-bold text-5xl mb-10">Activities</h2>
        <div class="grid grid-cols-3 gap-8">
            <figure class="relative">
                <img class="rounded-lg"
                     src="/img/activities/act_eco_bg.jpg"
                     th:alt="#{activity.ecology}">
                <img class="absolute ml-7 top-8 w-[70px]"
                     src="/img/activities/act_eco_icon.png"
                     th:alt="#{activity.ecology}">
                <figcaption class="absolute mx-7 text-lg text-white bottom-8">
                    <h3 th:text="#{activity.ecology}"
                        class="uppercase font-bold text-2xl">Ecology</h3>
                </figcaption>
            </figure>

            <figure class="relative">
                <img class="rounded-lg"
                     src="/img/activities/act_gender_bg.jpg"
                     th:alt="#{activity.gender}">
                <img class="absolute ml-7 top-8 w-[50px]"
                     src="/img/activities/act_gender_icon.png"
                     th:alt="#{activity.gender}">
                <figcaption class="absolute mx-7 text-lg text-white bottom-8">
                    <h3 th:text="#{activity.gender}"
                        class="uppercase font-bold text-2xl">Gender</h3>
                </figcaption>
            </figure>

            <figure class="relative">
                <img class="rounded-lg"
                     src="/img/activities/act_privacy_bg.jpg"
                     th:alt="#{activity.privacy}">
                <img class="absolute ml-7 top-8 w-[70px]"
                     src="/img/activities/act_privacy_icon.png"
                     th:alt="#{activity.privacy}">
                <figcaption class="absolute mx-7 text-lg text-white bottom-8">
                    <h3 th:text="#{activity.privacy}"
                        class="uppercase font-bold text-2xl">Privacy</h3>
                </figcaption>
            </figure>
        </div>
    </section>

    <!-- Events -->
    <section class="max-w-screen-xl px-4 mt-20 mx-auto">
        <h2 th:text="#{section.about.events}"
            class="uppercase text-deep-sky-900 font-bold text-5xl mb-10">Events</h2>

        <div class="grid grid-cols-3 gap-8">
            <th:block th:each="event : ${events}"
                      th:include="~{fragments/card/event-card :: eventCard(event)}"></th:block>
        </div>

        <div class="flex justify-center mt-12">
            <a class="px-12 py-4 font-normal text-center text-white bg-deep-sky-900 rounded-lg hover:bg-deep-sky-800"
               th:href="@{/events}"
               th:text="#{btn.more.events}">All events</a>
        </div>
    </section>

    <!-- Hackathon -->
    <section
            class="mt-20 bg-center bg-no-repeat bg-[url('/img/hackathon/bishkek_02.jpg')] bg-gray-400 bg-blend-multiply">
        <div class="max-w-screen-xl px-4 py-20 mx-auto">
            <h2 th:utext="#{home.section.hackathon.title}"
                class="uppercase text-white text-center font-bold text-5xl mb-6">Analytics</h2>

            <div class="text-white font-light text-center text-lg">
                <p th:text="#{home.section.hackathon.geo}"></p>
                <p th:text="#{home.section.hackathon.date}"></p>
            </div>

            <div class="flex justify-center mt-12">
                <a class="px-12 py-4 font-normal text-center text-white bg-clean-orange-900 rounded-lg hover:bg-clean-orange-800"
                   href="https://hackathon.biom.kg" target="_blank"
                   th:text="#{btn.more.hackathon}">More about hackathon</a>
            </div>
        </div>
    </section>

    <!-- Speeches -->
    <section class="bg-deep-sky-50">
        <div class="max-w-screen-xl px-4 py-20 mx-auto">
            <h2 th:text="#{section.education.speeches}"
                class="uppercase text-deep-sky-900 font-bold text-5xl mb-10">Speeches</h2>

            <div class="grid grid-cols-3 gap-8">
                <th:block th:each="speech : ${speeches}"
                          th:include="~{fragments/card/speech-card.html :: speechCard(speech)}"></th:block>
            </div>

            <div class="flex justify-center mt-12">
                <a class="px-12 py-4 font-normal text-center text-white bg-deep-sky-900 rounded-lg hover:bg-deep-sky-800"
                   th:href="@{/speeches}"
                   th:text="#{btn.more.speeches}">All speeches</a>
            </div>
        </div>
    </section>

    <!-- Manual -->
    <section class="max-w-screen-xl px-4 mt-20 mx-auto" th:if="${manual != null}">
        <div class="grid grid-cols-2 gap-8">
            <div>
                <h2 th:text="${manual.title}"
                    class="uppercase text-deep-sky-900 font-bold text-5xl leading-0">Title</h2>
            </div>
            <div>
                <p th:text="${manual.descr}"
                   class="text-deep-sky-900 font-light leading-1">Descr</p>

                <div class="flex justify-start items-center mt-6">
                    <a class="font-medium text-deep-sky-900 hover:text-deep-sky-800"
                       th:href="${manual.files.?[lang == #locale.language][0]?.path ?: '#'}"
                       th:text="#{btn.download.publication}"
                       target="_blank">Download</a>

                    <img class="ml-4" th:src="@{/img/common/down.svg}" th:alt="#{btn.download.publication}"/>
                </div>
            </div>
        </div>
    </section>

    <!-- Centers -->
    <section class="mt-20 bg-deep-sky-50">
        <div class="max-w-screen-xl px-4 py-20 mx-auto text-center">
            <div class="relative">
                <div class="absolute -right-10 top-2 z-0">
                    <div class="w-[260px] h-[260px] rounded-full bg-soft-green-50 flex items-center justify-center">
                        <div class="w-[205px] h-[205px] rounded-full bg-soft-green-100 flex items-center justify-center">
                            <div class="w-[165px] h-[165px] rounded-full bg-soft-green-800 flex items-center justify-center">
                                <span class="text-white">Получите консультацию</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-10/12">
                <h2 th:text="#{home.section.centers.title}"
                    class="uppercase text-deep-sky-900 font-bold text-5xl mb-6">Title</h2>

                <p th:utext="#{home.section.centers.descr}"
                   class="text-deep-sky-900 font-light leading-1 mb-6">Descr</p>
            </div>

            <div class="grid grid-cols-3 gap-8">
                <div class="bg-white border border-gray-100 rounded-lg h-full flex flex-col justify-between p-7">
                    <div class="flex-grow flex items-center justify-center">
                        <img th:src="@{/img/centers/coalition.png}"
                             th:alt="#{home.section.centers.coalition}"
                             class="w-[180px] mx-auto mb-4">
                    </div>
                    <p th:utext="#{home.section.centers.geo.coalition}"
                       class="text-deep-sky-900 font-semibold mb-2">Geo</p>
                </div>
                <div class="bg-white border border-gray-100 rounded-lg h-full flex flex-col justify-between p-7">
                    <div class="flex-grow flex items-center justify-center">
                        <img th:src="@{/img/centers/leader.png}"
                             th:alt="#{home.section.centers.leader}"
                             class="w-[170px] mx-auto mb-4">
                    </div>
                    <p th:utext="#{home.section.centers.geo.leader}"
                       class="text-deep-sky-900 font-semibold mb-2">Geo</p>
                </div>
                <div class="bg-white border border-gray-100 rounded-lg h-full flex flex-col justify-between p-7">
                    <div class="flex-grow flex items-center justify-center">
                        <img th:src="@{/img/centers/kaniet.png}"
                             th:alt="#{home.section.centers.kaniet}"
                             class="w-[141px] mx-auto mb-4">
                    </div>
                    <p th:utext="#{home.section.centers.geo.kaniet}"
                       class="text-orange-500 font-semibold mb-2">Geo</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Legal documents -->
    <section class="max-w-screen-xl px-4 mt-20 mx-auto">
        <h2 th:text="#{section.constructor.documents}"
            class="uppercase text-deep-sky-900 font-bold text-5xl mb-10">Activities</h2>

        <div class="mb-12">
            <ul class="flex flex-wrap justify-between -mb-px text-sm font-medium text-center"
                id="documents-tab"
                data-tabs-toggle="#documents-tab-content"
                role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block px-20 py-4 border-b-2 rounded-t-lg text-deep-sky-900 border-deep-sky-800"
                            id="ecology-tab"
                            data-tabs-target="#ecology"
                            type="button"
                            role="tab"
                            aria-controls="ecology"
                            aria-selected="false"
                            th:text="#{law.type.eco}">Ecology
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block px-20 py-4 border-b-2 rounded-t-lg text-gray-500 hover:text-gray-400 hover:border-gray-300"
                            id="gender-tab"
                            data-tabs-target="#gender"
                            type="button"
                            role="tab"
                            aria-controls="gender"
                            aria-selected="false"
                            th:text="#{law.type.gender}">Gender
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button class="inline-block px-20 py-4 border-b-2 rounded-t-lg text-gray-500 hover:text-gray-400 hover:border-gray-300"
                            id="privacy-tab"
                            data-tabs-target="#privacy"
                            type="button"
                            role="tab"
                            aria-controls="privacy"
                            aria-selected="false"
                            th:text="#{law.type.privacy}">Privacy
                    </button>
                </li>
            </ul>
        </div>

        <div id="documents-tab-content">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8"
                 id="ecology"
                 role="tabpanel"
                 aria-labelledby="ecology-tab">

                <th:block th:each="document : ${documents}"
                          th:if="${document.activityCodes.contains('ecology')}"
                          th:include="~{fragments/card/document-h-card.html :: documentHCard(document)}"></th:block>
            </div>
            <div class="hidden grid grid-cols-1 md:grid-cols-2 gap-8"
                 id="gender"
                 role="tabpanel"
                 aria-labelledby="gender-tab">

                <th:block th:each="document : ${documents}"
                          th:if="${document.activityCodes.contains('gender')}"
                          th:include="~{fragments/card/document-h-card.html :: documentHCard(document)}"></th:block>
            </div>
            <div class="hidden grid grid-cols-1 md:grid-cols-2 gap-8"
                 id="privacy"
                 role="tabpanel"
                 aria-labelledby="privacy-tab">

                <th:block th:each="document : ${documents}"
                          th:if="${document.activityCodes.contains('privacy')}"
                          th:include="~{fragments/card/document-h-card.html :: documentHCard(document)}"></th:block>
            </div>
        </div>

        <div class="flex justify-center mt-12">
            <a class="px-12 py-4 font-normal text-center text-white bg-deep-sky-900 rounded-lg hover:bg-deep-sky-800"
               href="#"
               th:text="#{btn.more.documents}">All documents</a>
        </div>
    </section>

    <!-- Analytics -->
    <section class="mt-20 bg-center bg-no-repeat bg-[url('/img/common/lib.jpg')] bg-gray-200 bg-blend-multiply">
        <div class="max-w-screen-xl px-4 py-20 mx-auto">
            <h2 th:text="#{section.analytics}"
                class="uppercase text-white font-bold text-5xl mb-10">Analytics</h2>

            <div class="grid grid-cols-3 gap-8">
                <th:block th:each="document : ${analytics}"
                          th:include="~{fragments/card/document-card.html :: documentCard(document)}"></th:block>
            </div>
        </div>
    </section>

    <!-- Posters -->
    <section class="max-w-screen-xl px-4 mt-20 mx-auto">
        <h2 th:text="#{section.education.posters}"
            class="uppercase text-deep-sky-900 font-bold text-5xl mb-10">Posters</h2>

        <div class="grid grid-cols-3 gap-8">
            <th:block th:each="poster : ${posters}"
                      th:include="~{fragments/card/poster-card.html :: posterCard(poster)}"></th:block>
        </div>

        <div class="flex justify-center mt-12">
            <a class="px-12 py-4 font-normal text-center text-white bg-deep-sky-900 rounded-lg hover:bg-deep-sky-800"
               th:href="@{/posters}"
               th:text="#{btn.more.posters}">All posters</a>
        </div>
    </section>
</main>

<!-- Swiper.js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/main-slider.js"></script>
</body>
</html>