<!DOCTYPE html>
<html lang="ru" th:replace="~{layouts/base.html :: base(~{::title}, ~{::main}, _, _)}">
<head>
    <title th:text="${speech.title} + ' | MJ'">Speech Title</title>
</head>
<body>
<main>
    <div>
        <div th:replace="~{fragments/btn/back-btn :: backBtn}"></div>
    </div>
    <article>
        <div class="max-w-screen-md px-4 mx-auto">
            <h3 th:text="${speech.title}"
                class="text-deep-sky-900 font-bold text-3xl leading-0">Posters</h3>

            <div class="mt-6">
                <div class="flex items-center gap-3">
                    <img th:alt="${speech.person.name}"
                         th:src="${speech.person.photo}"
                         class="aspect-square size-8 rounded-full object-cover">

                    <div class="text-sm/5 text-gray-700"
                         th:text="${speech.person.name}">Speaker
                    </div>
                </div>
            </div>

            <div class="my-12">
                <iframe th:src="${speech.youtubeUrl}"
                        class="w-full aspect-video rounded-lg"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <p class="text-gray-700"
               th:text="${speech.descr}">Description</p>

            <div th:if="${speech.presentation != null}"
                 th:insert="~{fragments/btn/download-btn :: downloadBtn(#{btn.download.presentation}, ${speech.presentation})}"
                 class="mt-12"></div>
        </div>
    </article>
</main>
</body>
</html>
