<nav th:fragment="breadcrumbList(breadcrumbs)" class="flex mt-6">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li class="inline-flex items-center">
            <a class="text-sm text-deep-sky-900 hover:text-deep-sky-800"
               th:text="#{home}"
               th:href="@{/}">Home</a>
        </li>

        <li th:each="breadcrumb : ${breadcrumbs}">
            <div class="flex items-center">
                <svg viewBox="0 -9 3 24"
                     class="overflow-visible mx-2 text-deep-sky-900 w-auto h-6 group-hover:text-deep-sky-800">
                    <path d="M0 0L3 3L0 6"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="0.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>

                <a class="ms-1 text-sm text-deep-sky-900 hover:text-deep-sky-800 md:ms-2"
                   th:if="${breadcrumb.uri != null}"
                   th:href="${breadcrumb.uri}"
                   th:text="${breadcrumb.title}">Title</a>

                <span class="ms-1 text-sm text-gray-400 md:ms-2"
                      th:if="${breadcrumb.uri == null}"
                      th:text="${breadcrumb.title}">Title</span>
            </div>
        </li>
    </ol>
</nav>