<nav>
    <button th:fragment="mobile"
            data-collapse-toggle="navbar-dropdown"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-sky-200"
            aria-controls="navbar-dropdown"
            aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 17 14">
            <path stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>

    <div th:fragment="main" class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="uppercase text-xs flex flex-col p-4 md:p-0 mt-4 border border-sky-100 rounded-lg bg-sky-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
            <li th:each="navItem, iterStat : ${mainNav}">
                <a class="block py-2 px-3 rounded md:bg-transparent text-deep-sky-900 md:p-0"
                   th:if="${navItem.sub == null}"
                   th:href="@{${navItem.url}}"
                   th:text="${navItem.title}">Title</a>

                <button th:attr="id=${'dropdownNavbarLink-' + iterStat.index}, data-dropdown-toggle=${'dropdownNavbar-' + iterStat.index}"
                        class="flex items-center justify-between w-full py-2 px-3 uppercase text-deep-sky-900 rounded md:border-0 md:p-0 md:w-auto"
                        th:if="${navItem.sub != null}">
                    <span th:text="${navItem.title}">Title</span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-4 h-4 ml-1 text-gray-400 group-hover:text-deep-sky-900 transition duration-200"
                         viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"/>
                    </svg>
                </button>

                <div th:attr="id=${'dropdownNavbar-' + iterStat.index}"
                     class="z-10 hidden bg-white divide-y divide-deep-sky-100 rounded-lg shadow w-44">
                    <ul class="py-2 text-xs text-gray-700"
                        th:if="${navItem.sub != null}">
                        <li th:each="subItem : ${navItem.sub}">
                            <a class="block px-5 py-2 text-deep-sky-900 hover:text-deep-sky-800"
                               th:text="${subItem.title}"
                               th:href="@{${subItem.url}}">Common information</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>


    <button th:fragment="tools"
            class="md:ml-6 text-deep-sky-900 p-2 w-10 h-10"
            type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</nav>

<div th:fragment="bottom" class="w-full md:w-8/12">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mb-8">
        <div>
            <h4 th:text="#{section.about}" class="text-lg font-bold mb-4">About</h4>
            <ul>
                <li class="pb-4">
                    <a th:text="#{section.about.common}"
                       th:href="@{/about}">Common information</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.about.partners}"
                       th:href="@{/about/partners}">Partners</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.about.events}"
                       th:href="@{/events}">Project events</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.about.centers}"
                       th:href="@{/about/centers}">Public Monitoring Centers</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.about.monitoring}"
                       th:href="@{/about/monitoring}">Monitoring & evaluation</a>
                </li>
            </ul>
        </div>
        <div>
            <h4 th:text="#{section.education}" class="text-lg font-bold mb-4">Education</h4>
            <ul>
                <li class="pb-4">
                    <a th:text="#{section.education.manuals}"
                       th:href="@{/education/manuals}">Manuals</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.education.speeches}"
                       th:href="@{/speeches}">Speeches</a>
                </li>
            </ul>
            <a th:href="@{/analytics}">
                <h4 th:text="#{section.analytics}" class="text-lg font-bold mb-4">Analytics</h4>
            </a>
            <a th:href="@{/subgrants}">
                <h4 th:text="#{section.subgrants}" class="text-lg font-bold mb-4">Subgrants</h4>
            </a>
        </div>
        <div>
            <h4 th:text="#{section.constructor}" class="text-lg font-bold mb-4">Law constructor</h4>
            <ul>
                <li class="pb-4">
                    <a th:text="#{section.constructor.consult}"
                       th:href="@{/constructor/consult}">Online consultations</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.constructor.documents}"
                       th:href="@{/docs}">Documents</a>
                </li>
            </ul>
        </div>
        <div>
            <h4 th:text="#{section.informatory}" class="text-lg font-bold mb-4">Informatory</h4>
            <ul>
                <li class="pb-4">
                    <a th:text="#{section.informatory.publications}"
                       th:href="@{/informatory/publications}">Publication</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.informatory.presentations}"
                       th:href="@{/informatory/presentations}">Presentations</a>
                </li>
                <li class="pb-4">
                    <a th:text="#{section.informatory.links}"
                       th:href="@{/informatory/links}">Links</a>
                </li>
            </ul>
        </div>
    </div>
</div>