<!DOCTYPE html>
<html lang="ru" th:replace="~{admin/layouts/base.html :: base(~{::title}, ~{::main})}">
<head>
    <title th:text="#{label.admin} + ' | MJ'">Title</title>
</head>

<body>

<main class="p-4 md:ml-64 h-auto pt-20">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900"
                th:text="${event.id != null
                  ? #messages.msg('label.edit', #messages.msg('label.event'))
                  : #messages.msg('label.add', #messages.msg('label.event'))}">Add/Edit</h2>

            <form th:action="@{/admin/event}"
                  th:method="post"
                  th:object="${event}">

                <input th:if="*{id != null}" type="hidden" name="id" th:value="*{id}"/>
                <input th:if="*{translateId != null}" type="hidden" name="translateId" th:value="*{translateId}"/>

                <input type="hidden" name="lang" th:value="*{lang}"/>
                <input type="hidden" name="createDate" th:value="*{createDate}"/>

                <input th:if="*{agenda != null}" type="hidden" name="agenda" th:value="*{agenda}"/>
                <input th:if="*{press != null}" type="hidden" name="press" th:value="*{press}"/>
                <input th:if="*{pictures != null}" type="hidden" name="pictures" th:value="*{pictures}"/>

                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <!-- Title -->
                    <div class="sm:col-span-2">
                        <label for="title"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.title}">Title</label>

                        <input id="title"
                               type="text"
                               name="title"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                               th:placeholder="#{label.title.placeholder}"
                               th:field="*{title}"
                               th:classappend="${#fields.hasErrors('title')} ? 'border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500' : ''"
                               required/>

                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
                           th:if="${#fields.hasErrors('title')}"
                           th:errors="*{title}">Invalid title</p>
                    </div>

                    <!-- Slug -->
                    <div class="w-full">
                        <label for="slug"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.slug}">Slug</label>

                        <input type="text" name="slug" id="slug"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                               th:placeholder="#{label.slug.placeholder}"
                               th:field="*{slug}"
                               th:classappend="${#fields.hasErrors('slug')} ? 'border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500' : ''"
                               required>

                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
                           th:if="${#fields.hasErrors('slug')}"
                           th:errors="*{slug}">Invalid title</p>
                    </div>

                    <!-- Publish Date -->
                    <div class="w-full">
                        <label for="publish-date"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.date.publish}">Date</label>

                        <div class="relative max-w-sm">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>

                            <input id="publish-date" type="text"
                                   datepicker
                                   datepicker-autohide
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5"
                                   placeholder="Select date"
                                   th:field="*{publishDate}"
                                   th:value="*{#temporals.format(publishDate, 'dd/MM/yyyy')}">
                        </div>
                    </div>

                    <!-- Thumbnail -->
                    <div class="w-full">
                        <label for="thumb"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.thumb}">Thumbnail</label>

                        <input type="text" name="thumb" id="thumb"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                               th:field="*{thumb}"
                               th:classappend="${#fields.hasErrors('thumb')} ? 'border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500' : ''"
                               required>

                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
                           th:if="${#fields.hasErrors('thumb')}"
                           th:errors="*{thumb}">Invalid title</p>
                    </div>

                    <!-- Description -->
                    <div class="sm:col-span-2">
                        <label for="description"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.descr}">Description</label>

                        <textarea id="description"
                                  rows="8"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                  th:placeholder="#{label.descr.placeholder}"
                                  th:classappend="${#fields.hasErrors('descr')} ? 'border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500' : ''"
                                  th:field="*{descr}"></textarea>

                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
                           th:if="${#fields.hasErrors('descr')}"
                           th:errors="*{descr}">Invalid title</p>
                    </div>

                    <!-- Content -->
                    <div class="sm:col-span-2">
                        <label for="content" class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.content}">Content</label>

                        <div class="rounded-lg border border-gray-300">
                            <div id="toolbar"
                                 class="rounded-top-lg">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-link"></button>
                            </div>
                            <div id="editor-quill"
                                 class="rounded-bottom-lg"
                                 style="height: 400px;">
                                <!-- Quill editor will be initialized here -->
                            </div>
                        </div>
                        <input type="hidden" id="content" name="content" th:field="*{content}">
                    </div>

                    <!-- YouTube URL -->
                    <div class="w-full">
                        <label for="youtubeUrl"
                               class="block mb-2 text-sm font-medium text-gray-900"
                               th:text="#{label.youtubeUrl}">YouTube URL</label>

                        <input type="text" name="youtubeUrl" id="youtubeUrl"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                               th:classappend="${#fields.hasErrors('youtubeUrl')} ? 'border-red-500 bg-red-50 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500' : ''"
                               th:field="*{youtubeUrl}">

                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"
                           th:if="${#fields.hasErrors('youtubeUrl')}"
                           th:errors="*{youtubeUrl}">Invalid title</p>
                    </div>

                    <!-- Active -->
                    <div class="sm:col-span-2">
                        <label for="active"
                               class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" th:field="*{active}" id="active" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
                            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                                  th:text="#{label.status.active}">Active</span>
                        </label>
                    </div>
                </div>

                <!-- Save Btn -->
                <button type="submit"
                        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800"
                        th:text="#{btn.save}">Save
                </button>
            </form>
        </div>
    </div>
</main>

</body>
</html>
