<!DOCTYPE html>
<html lang="ru" th:replace="~{admin/layouts/base.html :: base(~{::title}, ~{::main})}">
<head>
    <title th:text="#{label.admin} + ' | MJ'">Title</title>
</head>

<body>

<main class="p-4 md:ml-64 h-auto pt-20">
    <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
            <!-- Search Form -->
            <div class="w-full md:w-1/2">
                <form>
                    <label class="sr-only" for="contentTableSearch" th:text="#{label.search}">Search</label>

                    <div class="relative w-full">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor"
                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </div>

                        <input id="contentTableSearch"
                               name="search"
                               type="text"
                               th:value="${searchQuery}"
                               th:placeholder="#{label.search}"
                               hx-get="/admin/events"
                               hx-target="#contentTable"
                               hx-swap="outerHTML"
                               hx-params="*"
                               hx-trigger="keyup changed delay:300ms"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2">
                    </div>
                </form>
            </div>

            <!-- Action buttons -->
            <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                <a class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 focus:outline-none"
                   th:href="@{/admin/event}">

                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"/>
                    </svg>
                    <span th:text="#{btn.add}">Add new</span>
                </a>
            </div>
        </div>

        <div id="contentTable" hx-swap-oob="true" class="overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-4 py-4" th:text="#{label.title}">Title</th>
                    <th scope="col" class="px-4 py-3" th:text="#{label.date.create}">Create date</th>
                    <th scope="col" class="px-4 py-3" th:text="#{label.date.publish}">Pub date</th>
                    <th scope="col" class="px-4 py-3" th:text="#{label.status}">Status</th>
                    <th scope="col" class="px-4 py-3">
                        <span class="sr-only" th:text="#{label.actions}">Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b"
                    th:each="event : ${eventsPage.content}">
                    <th class="px-4 py-3 text-gray-900 font-medium max-w-[20rem] truncate"
                        scope="row"
                        th:text="${event.title}">Title
                    </th>

                    <td class="px-4 py-3 whitespace-nowrap"
                        th:text="${#temporals.format(event.createDate, 'dd/MM/yyyy')}">2025-01-01
                    </td>

                    <td class="px-4 py-3 whitespace-nowrap"
                        th:text="${#temporals.format(event.publishDate, 'dd/MM/yyyy')}">2025-01-01
                    </td>

                    <td class="px-4 py-3"
                        th:text="${event.active ? 'Active' : 'Inactive'}">Active
                    </td>

                    <td class="px-4 py-3 flex items-center justify-end">
                        <button class="inline-flex items-center text-sm font-medium hover:bg-gray-100 p-1.5 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none"
                                th:attr="id=${event.slug + '-table-dropdown-button'}, data-dropdown-toggle=${event.slug + '-table-dropdown'}"
                                type="button">

                            <svg class="w-5 h-5"
                                 aria-hidden="true"
                                 fill="currentColor"
                                 viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                            </svg>
                        </button>

                        <div class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow"
                             th:attr="id=${event.slug + '-table-dropdown'}">

                            <ul class="py-1 text-sm"
                                th:attr="aria-labelledby=${event.slug + '-table-dropdown'}">
                                <li>
                                    <a class="flex w-full items-center py-2 px-4 hover:bg-gray-100 text-gray-700"
                                       th:href="@{'/admin/event'(id=${event.id})}">

                                        <svg class="w-4 h-4 mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             viewbox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                                            <path fill-rule="evenodd"
                                                  clip-rule="evenodd"
                                                  d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"/>
                                        </svg>
                                        <span th:text="#{btn.edit}">Edit</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="flex w-full items-center py-2 px-4 hover:bg-gray-100 text-gray-700"
                                       th:href="@{'/events/' + ${event.slug}}"
                                       target="_blank">
                                        <svg class="w-4 h-4 mr-2"
                                             xmlns="http://www.w3.org/2000/svg"
                                             viewbox="0 0 20 20"
                                             fill="currentColor"
                                             aria-hidden="true">
                                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"/>
                                            <path fill-rule="evenodd"
                                                  clip-rule="evenodd"
                                                  d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"/>
                                        </svg>
                                        <span th:text="#{btn.preview}">Preview</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav id="contentTableNav"
             class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
             hx-swap-oob="true">

            <span class="text-sm font-normal text-gray-500"
                  th:text="${paginationMessage}">Showing 1-10 of 1000</span>

            <div th:replace="~{admin/fragments/pagination :: pagination(${currentPage}, ${eventsPage.getTotalPages()}, '/admin/events')}"></div>
        </nav>
    </div>
</main>

</body>
</html>
